body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

.gallery-container{
    padding: 3rem 7rem;
}

/* Header */

.gallery-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.batch-search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.page-title{
    font-size: 4rem;
    color: #1A8FE3;
}

.go-btn{
    width: 9rem;
    height: 3.5rem;
    background-color: #FF914D;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group label {
    display: block;
    margin-right: 1rem;
    color: #555;
    font-size: 1rem;
}

.input-group input, .input-group select {
    height: 2.5rem;
    width: 25rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    font-size: 1rem;
}

.upload-memory{
    font-size: 1.2rem;
    color: #10941D;
    padding-top: 1rem;
}

.upload-memory:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Images */
.image-grid{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 1rem;
}

.grid-image{
    display: block;
    width: 80%;
    flex-basis: 100%;
    padding: 3rem;
    box-sizing: border-box;
}

/* Responsiveness */

@media screen and (min-width: 250px) {
    .gallery-container{
        padding: 1rem 3rem;
    }
    .page-title{
        font-size: 2rem;
    }
    .input-group input, .input-group select {
        height: 1rem;
        width: 10rem;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }
    .go-btn{
        width: 5rem;
        height: 2rem;
        font-size: 0.6rem;
    }
    .upload-memory{
        font-size: 0.3;
    }

    .gallery-nav{
        flex-direction: column;
    }
}

@media screen and (min-width: 640px) {
    .gallery-container{
        padding: 2rem 4rem;
    }
    .page-title{
        font-size: 2.5rem;
    }
    .grid-image{
        flex-basis: 50%;
    }
    .input-group input, .input-group select {
        height: 1.5rem;
        width: 12rem;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    .go-btn{
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .gallery-nav{
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    .page-title{
        font-size: 2.75rem;
    }
    .grid-image{
        flex-basis: 33.33%;
    }
    .input-group input, .input-group select {
        height: 1.5rem;
        width: 12rem;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    .go-btn{
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .upload-memory{
        font-size: 0.7;
    }
}

@media screen and (min-width: 1280px) {
    .page-title{
        font-size: 3.5rem;
    }
    .grid-image{
        flex-basis: 25%;
    }
    .input-group input, .input-group select {
        height: 2rem;
        width: 15rem;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    .go-btn{
        width: 7rem;
        height: 3rem;
        font-size: 0.9rem;
    }
    .upload-memory{
        font-size: 1;
    }
}